/* 追加するCSS */
.header {
    background-color: gray;
}

.post-form-name-input {
    margin: 10px;
    width: 600px;
}

.post-form-message-text {
    margin: 10px;
    width: 600px;
}

body {
    margin: 30px;
}

.post {
    margin: 10px;
    border: 2px dashed black;
}

span {
    margin: 10px;
    color: white;
}

.post-name.post-not-edit-input {
    margin: 10px;
}

.post-text.post-not-edit-textarea {
    margin: 10px;
}

.post-form-submit-button {
    width: 100px;
    height: 50px;
}

/* 投稿に関するCSS */
.post {
    display: flex;
}

.post-icon {
    width: 120px;
}

.post-image {
    width: 100%;
}

.post-name {
    font-weight: bold;
}

.post-text {
    width: 100%;
}

.post-info {
    position: relative;
    width: 100%;
}

.post-action {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* inputのデフォルトスタイルをリセット */
.post-not-edit-input {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* textareaのデフォルトスタイルをリセット */
.post-not-edit-textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}